# Default values for libplanet-seed.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.


clusterName: "9c-internal-v2"
logLevel: "debug"

global:
  image:
    tag: "test-200tx-3"

  appProtocolVersion: "200040/AB2da648b9154F2cCcAFBD85e0Bc3d51f97330Fc/MEQCICx20hKZH0vOgd5L.uPS.m8IB3AL.gaqajch.tidbjpFAiASY9xDsXU3vmGUJdhgNdhfb3imBENuYUXRBqTz46IfLA==/ZHU5OnRpbWVzdGFtcHUxMDoyMDIzLTA3LTIwZQ=="
  genesisBlockPath: "https://release.nine-chronicles.com/genesis-block-9c-main"
  trustedAppProtocolVersionSigner: "02529a61b9002ba8f21c858224234af971e962cac9bd7e6b365e71e125c6463478"
  
  peerStrings:
  - "033369e95dbfd970dd9a7b4df31dcf5004d7cfd63289d26cc42bbdd01e25675b6f,9c-perf-test-tcp-seed-1.planetarium.dev,31234"

  resetSnapshot: false
  
  useExternalSecret: true
  networkType: Default
  consensusType: pbft

snapshot:
  slackChannel: "bot-test"
  image: "planetariumhq/ninechronicles-snapshot:git-fc194ebdc47ec4ebe14f97f5ea01ff97b0a276d6"

  resources:
    requests:
      cpu: 1300m
      memory: 20Gi

seed:
  count: 1
  useTurnServer: false
  image:
    tag: "git-22bed8ef41ab09258e6404462ec8e07cd038d089"

  hosts:
  - "9c-perf-test-tcp-seed-1.planetarium.dev"

  privateKeys:
  - ""

  nodeSelector:
    eks.amazonaws.com/nodegroup: 9c-internal-m5d_l_2c

remoteHeadless:
  count: 1
  image:
    # follow global image
    repository: ""
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""
    pullPolicy: Always

  hosts:
  - "9c-perf-test-rpc-1.planetarium.dev"

  extraArgs:
  - "--tx-life-time=2000000"

  env:
  - name: IpRateLimiting__EnableEndpointRateLimiting
    value: "false"
  - name: IpRateLimiting__GeneralRules__0__Period
    value: "5s"
  - name: IpRateLimiting__GeneralRules__1__Period
    value: "5s"

  storage:
    data: 1000Gi

  resources:
    requests:
      cpu: 1
      memory: 16Gi

  nodeSelector:
    eks.amazonaws.com/nodegroup: 9c-internal-m7g_2xl_2c

validator:
  count: 4
  image:
    repository: ""
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""
    pullPolicy: Always

  consensusSeedStrings:
  - "033369e95dbfd970dd9a7b4df31dcf5004d7cfd63289d26cc42bbdd01e25675b6f,9c-perf-test-tcp-seed-1.planetarium.dev,31235"

  hosts:
  - "9c-perf-test-validator-1.planetarium.dev"
  - "9c-perf-test-validator-2.planetarium.dev"
  - "9c-perf-test-validator-3.planetarium.dev"
  - "9c-perf-test-validator-4.planetarium.dev"

  extraArgs:
  - "--tx-life-time=2000000"
  - "--consensus-target-block-interval=6500"

  # private keys if not using External Secrets
  privateKeys:
  - ""
  - ""
  - ""
  - ""

  resources:
    requests:
      cpu: 2
      memory: 20Gi

  nodeSelector:
    eks.amazonaws.com/nodegroup: 9c-internal-c7g_4xl_2c
