# Default values for 9c-internal cluster.
# This is a YAML-formatted file.


clusterName: "9c-internal-v2"
logLevel: "debug"

global:
  image:
    repository: planetariumhq/ninechronicles-headless
    tag: "3"

  appProtocolVersion: "1/54684Ac4ee5B933e72144C4968BEa26056880d71/MEUCIQDFvvGTtUSSRj524xJf0EcxmmU6UaXVDAfp3fsb7P6fkwIgdSicMlCnEUZwsPr+W6VLg+2ReY4+FIRC2vB1Yssz7EU=/ZHU5OnRpbWVzdGFtcHUxMDoyMDIzLTA1LTE5ZQ=="
  genesisBlockPath: "https://release.nine-chronicles.com/genesis-block-9c-main"
  trustedAppProtocolVersionSigner: "02529a61b9002ba8f21c858224234af971e962cac9bd7e6b365e71e125c6463478"
  
  peerStrings:
  - "033369e95dbfd970dd9a7b4df31dcf5004d7cfd63289d26cc42bbdd01e25675b6f,9c-internal-tcp.planetarium.dev,31234"
  
  iceServers:
  - "turn://0ed3e48007413e7c2e638f13ddd75ad272c6c507e081bd76a75e4b7adc86c9af:0apejou+ycZFfwtREeXFKdfLj2gCclKzz5ZJ49Cmy6I=@turn-us.planetarium.dev:3478"

  networkType: Internal
  consensusType: pbft
  
  resetSnapshot: false
  useExternalSecret: true

snapshot:
  downloadSnapshot: true
  slackChannel: "9c-internal"
  image: "planetariumhq/ninechronicles-snapshot:git-c3669931b652f49b8b38e111c0f2c51619e436d4"
  path: internal

# if you want to delete PVC with the volume provisioned together, set this value "Delete"
volumeReclaimPolicy: "Retain"

seed:
  count: 1
  useTurnServer: false
  image:
    repository: planetariumhq/libplanet-seed
    pullPolicy: Always # Overrides the image tag whose default is the chart appVersion.
    tag: "git-22bed8ef41ab09258e6404462ec8e07cd038d089"

  hosts:
  - "9c-internal-tcp.planetarium.dev"

  nodeSelector:
    node.kubernetes.io/instance-type: m5d.large

validator:
  count: 4
  image:
    repository: planetariumhq/ninechronicles-headless
    pullPolicy: Always

  consensusSeedStrings:
  - 033369e95dbfd970dd9a7b4df31dcf5004d7cfd63289d26cc42bbdd01e25675b6f,tcp-seed-1,31235

  hosts:
  - "9c-internal-validator-1.nine-chronicles.com"
  - "9c-internal-validator-2.nine-chronicles.com"
  - "9c-internal-validator-3.nine-chronicles.com"
  - "9c-internal-validator-4.nine-chronicles.com"

  storage:
    data: 500Gi

  resources:
    requests:
      cpu: 1
      memory: 12Gi

  nodeSelector:
    eks.amazonaws.com/nodegroup: 9c-internal-r6g_l_2c

remoteHeadless:
  image:
    repository: planetariumhq/ninechronicles-headless
    pullPolicy: Always

  hosts:
  - "9c-internal-rpc-1.nine-chronicles.com"

  ports:
    headless: 31234
    graphql: 80
    rpc: 31238

  storage:
    data: 500Gi

  resources:
    requests:
      cpu: 1
      memory: 12Gi

  nodeSelector:
    eks.amazonaws.com/nodegroup: 9c-internal-r6g_l_2c

  loggingEnabled: true


dataProvider:
  enabled: true

  storage:
    data: 1000Gi
    log: 4Gi

  image:
    repository: planetariumhq/ninechronicles-dataprovider
    pullPolicy: Always
    tag: git-c1c1facefdb01b40b45220a023be8aceef3e814c

  db:
    local: true
    storage: 1000Gi
    database: ''
    connectionString: ''
    host: ''
    port: 3306
    user: user
    password: ''

  nodeSelector:
    node.kubernetes.io/instance-type: m5d.large

  resources:
    requests:
      cpu: 1
      memory: 4Gi

explorer:
  enabled: true
  image:
    repository: planetariumhq/ninechronicles-headless
    pullPolicy: Always

  storage:
    data: 500Gi
    log: 4Gi

  resources:
    requests:
      cpu: 1
      memory: 4Gi

  nodeSelector:
    node.kubernetes.io/instance-type: m5d.large

marketService:
  enabled: true
  image:
    repository: planetariumhq/market-service
    pullPolicy: Always
    tag: git-d2822c649b9306faea0c0ddd309dde3ac25d717d

  db:
    local: true
    size: 1Gi

  nodeSelector:
    node.kubernetes.io/instance-type: m5d.large

  env:
  - name: DOTNET_gcServer
    value: "1"
  - name: RpcConfig__Host
    value: 9c-main-rpc-3.nine-chronicles.com
  - name: RpcConfig__Port
    value: "31238"
  - name: WorkerConfig__SyncShop
    value: "true"
  - name: WorkerConfig__SyncProduct
    value: "true"

