clusterName: 9c-main
provider: RKE2

externalSecret:
  enabled: true
  provider: AWS
  prefix: "9c-main-v2/external-services"

gateway:
  enabled: true
  services:
  - name: seasonpass-api-service
    hostname: seasonpass.9c.gg
  - name: iap-backoffice
    hostnames:
    - iap-backoffice.9c.gg
  - name: iap-api
    hostnames:
    - iap-api.9c.gg
  - name: ncboard
    hostnames:
    - ncboard.9c.gg
    - 9c-board.nine-chronicles.dev

volumeReclaimPolicy: "Retain"

seasonpass:
  enabled: true
  image:
    tag: "git-7724856730ddabc8cc54e40de21736ebb958add9"

  api:
    enabled: true
    stage: "mainnet"
    nodeSelector:
      node.kubernetes.io/node-index: "2"
      node.kubernetes.io/provisioner: "cloudv"
      node.kubernetes.io/type: "general"

  worker:
    enabled: true
    serviceAccount:
      roleArn: "arn:aws:iam::319679068466:role/9c-main-v2-seasonpass-worker"
    flower:
      enabled: true

    nodeSelector:
      node.kubernetes.io/node-index: "2"
      node.kubernetes.io/provisioner: "cloudv"
      node.kubernetes.io/type: "general"


  tracker:
    enabled: true

    nodeSelector:
      node.kubernetes.io/node-index: "2"
      node.kubernetes.io/provisioner: "cloudv"
      node.kubernetes.io/type: "general"

    odin:
      planetId: "0x000000000000"
    heimdall:
      planetId: "0x000000000001"

    resources:
      limits:
        cpu: 0.5
        memory: 1Gi

backoffice:
  enabled: true

  image:
    pullPolicy: Always
    tag: "git-be1f5d813793724d7735c1a422135623815afc22"


iap:
  enabled: true
  backoffice:
    enabled: false
    image:
      tag: "git-03a3f855180051b4a7990c29218cd61d94f631d1"

  api:
    enabled: true
    stage: "mainnet"
    image:
      tag: "git-8453c98d3efe968fde2730b1db02c51d35f6ddf6"
    serviceAccount:
      roleArn: "arn:aws:iam::319679068466:role/9c-main-v2-iap-worker"

    nodeSelector:
      node.kubernetes.io/node-index: "2"
      node.kubernetes.io/provisioner: "cloudv"
      node.kubernetes.io/type: "general"

  worker:
    enabled: true
    stage: "mainnet"
    image:
      tag: "git-8453c98d3efe968fde2730b1db02c51d35f6ddf6"
    serviceAccount:
      roleArn: "arn:aws:iam::319679068466:role/9c-main-v2-iap-worker"

    nodeSelector:
      node.kubernetes.io/node-index: "2"
      node.kubernetes.io/provisioner: "cloudv"
      node.kubernetes.io/type: "general"

ncboard:
  enabled: true
  image:
    tag: git-d876a80f84f1a6bdf01ef470282e710467954479
