clusterName: 9c-main
provider: RKE2

externalSecret:
  enabled: true
  provider: AWS
  prefix: "9c-main-v2/external-services"

gateway:
  enabled: true
  services:
  - name: seasonpass-api-service
    hostname: seasonpass.9c.gg
  - name: iap-backoffice
    hostnames:
    - iap-backoffice.9c.gg
  - name: iap-api
    hostnames:
    - iap-api.9c.gg
  - name: ncboard
    hostnames:
    - ncboard.9c.gg
    - 9c-board.nine-chronicles.dev

volumeReclaimPolicy: "Retain"

seasonpass:
  enabled: true
  image:
    tag: "git-9585e8bf0c0f1d0697e1860c765c45ccb63b637f"

  api:
    enabled: true
    stage: "mainnet"
    nodeSelector:
      node.kubernetes.io/node-index: "2"
      node.kubernetes.io/provisioner: "cloudv"
      node.kubernetes.io/type: "general"

  worker:
    enabled: true
    serviceAccount:
      roleArn: "arn:aws:iam::319679068466:role/9c-main-v2-seasonpass-worker"
    flower:
      enabled: true

    nodeSelector:
      node.kubernetes.io/node-index: "2"
      node.kubernetes.io/provisioner: "cloudv"
      node.kubernetes.io/type: "general"


  tracker:
    enabled: true

    nodeSelector:
      node.kubernetes.io/node-index: "2"
      node.kubernetes.io/provisioner: "cloudv"
      node.kubernetes.io/type: "general"

    odin:
      planetId: "0x000000000000"
    heimdall:
      planetId: "0x000000000001"

    resources:
      limits:
        cpu: 0.5
        memory: 1Gi

backoffice:
  enabled: true

  image:
    pullPolicy: Always
    tag: "git-e382ff823140d9a8fcf3c2017fda50969ce55e5d"


iap:
  enabled: true
  backoffice:
    enabled: false
    image:
      tag: "git-d7ceca1c390f0f881795bdfd6a071ac36efdb884"

  api:
    enabled: true
    stage: "mainnet"
    image:
      tag: "git-d7ceca1c390f0f881795bdfd6a071ac36efdb884"
    serviceAccount:
      roleArn: "arn:aws:iam::319679068466:role/9c-main-v2-iap-worker"

  worker:
    enabled: true
    stage: "mainnet"
    image:
      tag: "git-d7ceca1c390f0f881795bdfd6a071ac36efdb884"
    serviceAccount:
      roleArn: "arn:aws:iam::319679068466:role/9c-main-v2-iap-worker"

ncboard:
  enabled: true
  image:
    tag: git-d876a80f84f1a6bdf01ef470282e710467954479
