clusterName: 9c-main
provider: RKE2

externalSecret:
  enabled: true
  provider: AWS
  prefix: "9c-main-v2/external-services"

gateway:
  enabled: true
  services:
  - name: seasonpass-api-service
    hostname: seasonpass.9c.gg
  - name: iap-backoffice
    hostnames:
    - iap-backoffice.9c.gg
  - name: iap-api
    hostnames:
    - iap-api.9c.gg
  - name: ncboard
    hostnames:
    - ncboard.9c.gg
    - 9c-board.nine-chronicles.dev

volumeReclaimPolicy: "Retain"

seasonpass:
  enabled: true
  image:
    tag: "git-6a3733ddf22b204fee2646ed9b03d94df57230ac"

  api:
    enabled: true
    stage: "mainnet"
    nodeSelector:
      node.kubernetes.io/node-index: "2"
      node.kubernetes.io/provisioner: "cloudv"
      node.kubernetes.io/type: "general"

  worker:
    enabled: true
    serviceAccount:
      roleArn: "arn:aws:iam::319679068466:role/9c-main-v2-seasonpass-worker"
    flower:
      enabled: true

    nodeSelector:
      node.kubernetes.io/node-index: "2"
      node.kubernetes.io/provisioner: "cloudv"
      node.kubernetes.io/type: "general"


  tracker:
    enabled: true

    nodeSelector:
      node.kubernetes.io/node-index: "2"
      node.kubernetes.io/provisioner: "cloudv"
      node.kubernetes.io/type: "general"

    odin:
      planetId: "0x000000000000"
    heimdall:
      planetId: "0x000000000001"
    thor:
      planetId: "0x000000000003"

    resources:
      limits:
        cpu: 0.5
        memory: 1Gi

backoffice:
  enabled: true

  image:
    pullPolicy: Always
    tag: "git-13d715b367bc6785f7887cebe8b21034fbbdaadf"


iap:
  enabled: true
  backoffice:
    enabled: false
    image:
      tag: "git-a04d3a34aae2bcfc9aeece1037271fb2f1139d99"

  api:
    enabled: true
    stage: "mainnet"
    image:
      tag: "git-a04d3a34aae2bcfc9aeece1037271fb2f1139d99"
    serviceAccount:
      roleArn: "arn:aws:iam::319679068466:role/9c-main-v2-iap-worker"

    nodeSelector:
      node.kubernetes.io/node-index: "2"
      node.kubernetes.io/provisioner: "cloudv"
      node.kubernetes.io/type: "general"

  worker:
    enabled: true
    stage: "mainnet"
    image:
      tag: "git-a04d3a34aae2bcfc9aeece1037271fb2f1139d99"
    serviceAccount:
      roleArn: "arn:aws:iam::319679068466:role/9c-main-v2-iap-worker"

    nodeSelector:
      node.kubernetes.io/node-index: "2"
      node.kubernetes.io/provisioner: "cloudv"
      node.kubernetes.io/type: "general"

ncboard:
  enabled: true
  image:
    tag: git-d876a80f84f1a6bdf01ef470282e710467954479
