# charts/portal/templates/configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
  labels:
    {{- include "portal.labels" . | nindent 4 }}
data:
  {{ - range $key, $value := .Values.env }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
  {{ - range $key, $value := .Values.portalService.env }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
