apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: 9c-network
  namespace: argocd
  annotations:
    notifications.argoproj.io/subscribe.on-sync-succeeded.slack: bot-test
    notifications.argoproj.io/subscribe.on-sync-failed.slack: bot-test
    notifications.argoproj.io/subscribe.on-sync-running.slack: bot-test
    notifications.argoproj.io/subscribe.on-deployed.slack: bot-test
spec:
  project: default
  source:
    repoURL: https://github.com/planetarium/9c-infra.git
    targetRevision: main
    path: ../charts/all-in-one
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: 9c-network
