{{- if and (or ( not .Values.externalSecret.enabled ) .Values.externalSecret.privateKeyPrefix) ( ne .Values.externalSecret.privateKeyPrefix .Values.clusterName )}}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: secret-reader
  namespace: {{ .Release.Name }}
rules:
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get", "list", "watch", "create", "update", "delete", "patch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: secret-reader-binding
  namespace: {{ .Release.Name }}
subjects:
- kind: Group
  name: "developer"
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: Role
  name: secret-reader
  apiGroup: rbac.authorization.k8s.io
{{- end }}
