# This is a YAML-formatted file.


clusterName: "9c-internal-v2"
logLevel: "debug"

global:
  image:
    repository: planetariumhq/ninechronicles-headless
    tag: "git-ba9828361d22625a0b47c706c7cdf4a3b57b811a"

  appProtocolVersion: "1/54684Ac4ee5B933e72144C4968BEa26056880d71/MEUCIQDFvvGTtUSSRj524xJf0EcxmmU6UaXVDAfp3fsb7P6fkwIgdSicMlCnEUZwsPr+W6VLg+2ReY4+FIRC2vB1Yssz7EU=/ZHU5OnRpbWVzdGFtcHUxMDoyMDIzLTA1LTE5ZQ=="
  genesisBlockPath: "https://release.nine-chronicles.com/genesis-block-9c-main"
  trustedAppProtocolVersionSigner: "02529a61b9002ba8f21c858224234af971e962cac9bd7e6b365e71e125c6463478"
  peerStrings:
  - "033369e95dbfd970dd9a7b4df31dcf5004d7cfd63289d26cc42bbdd01e25675b6f,tcp-seed-1.v200100.svc.cluster.local,31234"
  iceServers:
  - "turn://0ed3e48007413e7c2e638f13ddd75ad272c6c507e081bd76a75e4b7adc86c9af:0apejou+ycZFfwtREeXFKdfLj2gCclKzz5ZJ49Cmy6I=@turn-us.planetarium.dev:3478"

  networkType: Internal
  consensusType: pbft

  resetSnapshot: true
  rollbackSnapshot: false

externalSecret:
  enabled: true

snapshot:
  downloadSnapshot: true
  slackChannel: "libplanet-code"
  image: "planetariumhq/ninechronicles-snapshot:git-708a18d12e951f1c4275c5137eb577123dd81715"
  partition:
    enabled: true
    suspend: true
  path: internal

# if you want to delete PVC with the volume provisioned together, set this value "Delete"
volumeReclaimPolicy: "Retain"

seed:
  count: 1
  useTurnServer: false
  image:
    repository: planetariumhq/libplanet-seed
    pullPolicy: Always # Overrides the image tag whose default is the chart appVersion.
    tag: "git-22bed8ef41ab09258e6404462ec8e07cd038d089"

  hosts:
  - "tcp-seed-1.v200100.svc.cluster.local"

  nodeSelector:
    node.kubernetes.io/instance-type: m5d.xlarge

validator:
  count: 4
  image:
    repository: planetariumhq/ninechronicles-headless
    pullPolicy: Always

  consensusSeedStrings:
  - 033369e95dbfd970dd9a7b4df31dcf5004d7cfd63289d26cc42bbdd01e25675b6f,tcp-seed-1,31235

  hosts:
  - "validator-5"
  - "validator-6"
  - "validator-7"
  - "validator-8"

  storage:
    data: 500Gi

  resources:
    requests:
      cpu: 1
      memory: 12Gi

  nodeSelector:
    eks.amazonaws.com/nodegroup: 9c-internal-r6g_l_2c

  extraArgs:
  - --tx-quota-per-signer=1
  - --config=https://9c-dev-cluster-configs.s3.ap-northeast-2.amazonaws.com/appsettings-headless.json

remoteHeadless:
  image:
    repository: planetariumhq/ninechronicles-headless
    pullPolicy: Always

  hosts:
  - "remote-headless-1"

  ports:
    headless: 31234
    graphql: 80
    rpc: 31238

  storage:
    data: 500Gi

  resources:
    requests:
      cpu: 1
      memory: 12Gi

  nodeSelector:
    eks.amazonaws.com/nodegroup: 9c-internal-r6g_l_2c

  loggingEnabled: true

  extraArgs:
  - --tx-quota-per-signer=1
  - --config=https://9c-dev-cluster-configs.s3.ap-northeast-2.amazonaws.com/appsettings-headless.json

dataProvider:
  enabled: true
  migrateDatabase: true

  storage:
    data: 1000Gi
    log: 4Gi

  image:
    repository: planetariumhq/ninechronicles-dataprovider
    pullPolicy: Always
    tag: 'git-266837dd14e4da54345489e9861903b4bc4b057b'

  db:
    local: true
    storage: 1000Gi
    database: ''
    connectionString: ''
    host: ''
    port: 3306
    user: user
    password: ''

  nodeSelector:
    node.kubernetes.io/instance-type: m5d.xlarge

  resources:
    requests:
      cpu: 1
      memory: 4Gi

  extraArgs:
  - --config-path=https://9c-dev-cluster-configs.s3.ap-northeast-2.amazonaws.com/appsettings-dp.json

explorer:
  enabled: true
  image:
    repository: planetariumhq/ninechronicles-headless
    pullPolicy: Always

  storage:
    data: 500Gi
    log: 4Gi

  resources:
    requests:
      cpu: 1
      memory: 4Gi

  nodeSelector:
    node.kubernetes.io/instance-type: m5d.xlarge

  extraArgs:
  - --tx-quota-per-signer=1

marketService:
  enabled: true
  image:
    repository: planetariumhq/market-service
    pullPolicy: Always
    tag: git-a423246c9991c3b731b7aa805f94f3b72cbad28a

  db:
    local: true
    size: 1Gi

  nodeSelector:
    node.kubernetes.io/instance-type: m5d.large

  env:
  - name: DOTNET_gcServer
    value: "1"
  - name: RpcConfig__Host
    value: remote-headless-1.v200100.svc.cluster.local 
  - name: RpcConfig__Port
    value: "31238"
  - name: WorkerConfig__SyncShop
    value: "true"
  - name: WorkerConfig__SyncProduct
    value: "true"

patrolRewardService:
  enabled: true
  image:
    repository: planetariumhq/patrol-reward-service
    pullPolicy: Always
    tag: "git-f26d63e433985058bb037974ceece136e0e5688e"

  nodeSelector:
    node.kubernetes.io/instance-type: m5d.xlarge

  db:
    local: true
