clusterName: 9c-internal
provider: RKE2

externalSecret:
  enabled: true
  provider: AWS
  prefix: "9c-internal-v2/external-services"

gateway:
  enabled: true
  services:
  - name: seasonpass-api-service
    hostnames:
    - seasonpass-internal.9c.gg
  - name: iap-backoffice
    hostnames:
    - iap-internal-backoffice.9c.gg
  - name: iap-api
    hostnames:
    - iap-internal-api.9c.gg

volumeReclaimPolicy: "Retain"

seasonpass:
  enabled: true
  image:
    tag: "git-9585e8bf0c0f1d0697e1860c765c45ccb63b637f"

  api:
    enabled: true
    stage: "internal"
    resources:
      limits:
        cpu: 0.5
        memory: 1Gi

  worker:
    enabled: true
    serviceAccount:
      roleArn: "arn:aws:iam::319679068466:role/9c-internal-v2-seasonpass-worker"
    flower:
      enabled: true
    resources:
      limits:
        cpu: 0.5
        memory: 1Gi

  tracker:
    enabled: true

    odin:
      planetId: "0x100000000000"
    heimdall:
      planetId: "0x100000000001"

    resources:
      limits:
        cpu: 0.5
        memory: 1Gi

iap:
  enabled: true
  backoffice:
    enabled: false
    image:
      tag: "git-03a3f855180051b4a7990c29218cd61d94f631d1"

  api:
    enabled: true
    stage: "internal"
    image:
      tag: "git-03a3f855180051b4a7990c29218cd61d94f631d1"
    serviceAccount:
      roleArn: "arn:aws:iam::319679068466:role/9c-internal-v2-seasonpass-worker"

  worker:
    enabled: true
    stage: "internal"
    image:
      tag: "git-03a3f855180051b4a7990c29218cd61d94f631d1"
    serviceAccount:
      roleArn: "arn:aws:iam::319679068466:role/9c-internal-v2-iap-worker"
