clusterName: 9c-internal
provider: RKE2

externalSecret:
  enabled: true
  provider: AWS
  prefix: "9c-internal-v2/external-services"

gateway:
  enabled: true
  services:
  - name: seasonpass-api-service
    hostnames:
    - seasonpass-internal.9c.gg
  - name: iap-backoffice
    hostnames:
    - iap-internal-backoffice.9c.gg
  - name: iap-api
    hostnames:
    - iap-internal-api.9c.gg

volumeReclaimPolicy: "Retain"

seasonpass:
  enabled: true
  image:
    tag: "git-98e2c2be14e16fc3f10b2b3cff2e93c7e6edfd22"

  api:
    enabled: true
    stage: "internal"
    resources:
      limits:
        cpu: 0.5
        memory: 1Gi

  worker:
    enabled: true
    serviceAccount:
      roleArn: "arn:aws:iam::319679068466:role/9c-internal-v2-seasonpass-worker"
    flower:
      enabled: true
    resources:
      limits:
        cpu: 0.5
        memory: 1Gi

  tracker:
    enabled: true

    odin:
      planetId: "0x100000000000"
    heimdall:
      planetId: "0x100000000001"
    thor:
      planetId: "0x100000000003"

    resources:
      limits:
        cpu: 0.5
        memory: 1Gi

iap:
  enabled: true
  backoffice:
    enabled: false
    image:
      tag: "git-15912460d637ad3c696e1b12aa6c6145c7dee709"


  api:
    enabled: true
    stage: "internal"
    image:
      tag: "git-15912460d637ad3c696e1b12aa6c6145c7dee709"
    serviceAccount:
      roleArn: "arn:aws:iam::319679068466:role/9c-internal-v2-seasonpass-worker"

  worker:
    enabled: true
    stage: "internal"
    image:
      tag: "git-15912460d637ad3c696e1b12aa6c6145c7dee709"
    serviceAccount:
      roleArn: "arn:aws:iam::319679068466:role/9c-internal-v2-iap-worker"
