clusterName: 9c-internal
provider: RKE2

externalSecret:
  enabled: true
  provider: AWS
  prefix: "9c-internal-v2/external-services"

gateway:
  enabled: true
  services:
  - name: seasonpass-api-service
    hostnames:
    - seasonpass-internal.9c.gg
  - name: iap-backoffice
    hostnames:
    - iap-internal-backoffice.9c.gg
  - name: iap-api
    hostnames:
    - iap-internal-api.9c.gg

volumeReclaimPolicy: "Retain"

seasonpass:
  enabled: true
  image:
    tag: "git-63a10cbf3acc7d35ccb41b88497247ea4037bf61"

  api:
    enabled: true
    stage: "internal"
    resources:
      limits:
        cpu: 0.5
        memory: 1Gi

  worker:
    enabled: true
    serviceAccount:
      roleArn: "arn:aws:iam::319679068466:role/9c-internal-v2-seasonpass-worker"
    flower:
      enabled: true
    resources:
      limits:
        cpu: 0.5
        memory: 1Gi

  tracker:
    enabled: true

    odin:
      planetId: "0x100000000000"
    heimdall:
      planetId: "0x100000000001"

    resources:
      limits:
        cpu: 0.5
        memory: 1Gi

iap:
  backoffice:
    enabled: false
    image:
      tag: "git-9d98f43bbef5e5dadc3d30c26b7cdae482e01baf"

  api:
    enabled: true
    image:
      tag: "git-508c7d2f9bcf6277156bbd8a2c0a70931a835421"
