{{ if .Values.arenaService.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: arena-service
    app.kubernetes.io/instance: {{ $.Release.Name }}
  name: arena-service
  namespace: {{ $.Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: arena-service
  template:
    metadata:
      labels:
        app: arena-service
    spec:
      containers:
        - name: arena-service
          image: {{ $.Values.arenaService.image.repository }}:{{ $.Values.arenaService.image.tag }}
          ports:
            - containerPort: 8080
          env:
            - name: ConnectionStrings__DefaultConnection
              valueFrom:
                secretKeyRef:
                  name: arena
                  key: POSTGRES_CONNECTION_STRING
            - name: Redis__Port
              value: "{{ .Values.arenaService.redis.port }}"
            - name: Redis__HangfireDbNumber
              value: "{{ .Values.arenaService.redis.hangfireDbNumber }}"
            - name: Redis__RankingDbNumber
              value: "{{ .Values.arenaService.redis.rankingDbNumber }}"
            - name: Redis__Host
              valueFrom:
                secretKeyRef:
                  name: arena
                  key: REDIS_HOST
            - name: Redis__Password
              valueFrom:
                secretKeyRef:
                  name: arena
                  key: REDIS_PASSWORD
            - name: Headless__JwtSecretKey
              valueFrom:
                secretKeyRef:
                  name: arena
                  key: HEADLESS_JWT_SECRET_KEY
            - name: Headless__JwtIssuer
              valueFrom:
                secretKeyRef:
                  name: arena
                  key: HEADLESS_JWT_ISSUER
            - name: Headless__HeadlessEndpoint
              valueFrom:
                secretKeyRef:
                  name: arena
                  key: HEADLESS_ENDPOINT
            - name: OpsConfig__RecipientAddress
              value: {{ .Values.arenaService.recipientAddress }}
            - name: OpsConfig__ArenaProviderName
              value: "PLANETARIUM"
            - name: OpsConfig__JwtSecretKey
              valueFrom:
                secretKeyRef:
                  name: arena
                  key: JWT_SECRET_KEY
            - name: OpsConfig__JwtPublicKey
              valueFrom:
                secretKeyRef:
                  name: arena
                  key: JWT_PUBLIC_KEY
            - name: OpsConfig__HangfireUsername
              valueFrom:
                secretKeyRef:
                  name: arena
                  key: HANGFIRE_USER_NAME
            - name: OpsConfig__HangfirePassword
              valueFrom:
                secretKeyRef:
                  name: arena
                  key: HANGFIRE_PASSWORD
            - name: Ssh__Enabled
              value: {{ .Values.arenaService.ssh.enabled }}
            - name: Ssh__Host
              valueFrom:
                secretKeyRef:
                  name: arena
                  key: SSH_HOST
            - name: Ssh__Username
              valueFrom:
                secretKeyRef:
                  name: arena
                  key: SSH_USERNAME
            - name: Ssh__Password
              valueFrom:
                secretKeyRef:
                  name: arena
                  key: SSH_PASSWORD

          {{- with $.Values.arenaService.env }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
      restartPolicy: Always
      {{- with $.Values.arenaService.nodeSelector.read }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  strategy:
    type: RollingUpdate
{{ end }}
