apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-snapshot-script-partition
  namespace: {{ $.Release.Name }}
  labels:
    app.kubernetes.io/instance: {{ $.Release.Name }}
data:
  preload_headless.sh: |- {{ tpl (.Files.Get "scripts/snapshots/partition/preload_headless.sh") . | nindent 4 }}
  upload_snapshot.sh: |- {{ tpl (.Files.Get "scripts/snapshots/partition/upload_snapshot.sh") . | nindent 4 }}
  preload_dp_migrator.sh: |- {{ tpl (.Files.Get "scripts/snapshots/partition/preload_dp_migrator.sh") . | nindent 4 }}
