
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $.Release.Name }}-data-provider-script
  namespace: {{ $.Release.Name }} 
  labels:
    app.kubernetes.io/instance: {{ $.Release.Name }}
data:
  check_chain_tip.sh: |- {{ tpl (.Files.Get "scripts/data-provider/check_chain_tip.sh") . | nindent 4 }}
  setup_internal_db.sh: |- {{ tpl (.Files.Get "scripts/data-provider/setup_internal_db.sh") . | nindent 4 }}
