{{ if $.Values.jwtHeadless.enabled }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    app: jwt-headless
    app.kubernetes.io/instance: {{ $.Release.Name }}
  name: jwt-headless
  namespace: {{ $.Release.Name }}
spec:
  podManagementPolicy: OrderedReady
  {{- if $.Values.jwtHeadless.replicas }}
  replicas: {{ $.Values.jwtHeadless.replicas }}
  {{- else }}
  replicas: 1
  {{- end }}
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: jwt-headless
  serviceName: jwt-headless
  template:
    metadata:
      labels:
        app: jwt-headless
      name: jwt-headless
    spec:
      {{- if $.Values.global.resetSnapshot }}
      initContainers:
        - args:
          - 'https://snapshots.nine-chronicles.com/{{ $.Values.snapshot.path }}'  
          - /data/headless
          - $(RESET_SNAPSHOT_OPTION)
          - jwt-headless
          - $(SLACK_WEBHOOK_URL)
          - $(SNAPSHOT_ROLLBACK_OPTION)
          command:
          - /bin/download_snapshot.sh
          env:
          - name: RESET_SNAPSHOT_OPTION  
            value: "{{ $.Values.global.resetSnapshot }}"
          - name: SNAPSHOT_ROLLBACK_OPTION
            value: "{{ $.Values.global.rollbackSnapshot }}"
          - name: SLACK_WEBHOOK_URL
            valueFrom:
              secretKeyRef:
                key: slack-webhook-url
                name: slack
          {{- if and $.Values.remoteHeadless.image.repository $.Values.remoteHeadless.image.tag }}
          image: {{ $.Values.remoteHeadless.image.repository }}:{{ $.Values.remoteHeadless.image.tag }}
          {{- else }}
          image: {{ $.Values.global.image.repository }}:{{ $.Values.global.image.tag }}
          {{- end }}
          imagePullPolicy: Always
          name: reset-snapshot
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /bin/download_snapshot.sh
            name: download-snapshot-script
            readOnly: true
            subPath: download_snapshot.sh
          - mountPath: /data
            name: remote-headless-data-{{ $index }}
      {{- end }}
      containers:
      - args:
        - NineChronicles.Headless.Executable.dll
        - run
        - --app-protocol-version={{ $.Values.global.appProtocolVersion }}
        - --trusted-app-protocol-version-signer={{ $.Values.global.trustedAppProtocolVersionSigner }}
        - --genesis-block-path={{ $.Values.global.genesisBlockPath }}
        - --port={{ $.Values.jwtHeadless.ports.headless }}
        - --no-miner
        - --store-type=rocksdb
        - --store-path=/data/headless
        {{- if $.Values.jwtHeadless.useTurnServer }}
        {{- range $.Values.global.iceServers }}
        - --ice-server={{ . }}
        {{- end }}
        {{- else }}
        - --host={{ $.Values.jwtHeadless.host }}
        {{- end }}
        {{- range $.Values.global.peerStrings }}
        - --peer={{ . }}
        {{- end }}
        - --graphql-server
        - --graphql-host=0.0.0.0
        - --graphql-port={{ $.Values.jwtHeadless.ports.graphql }}
        - --rpc-server
        - --rpc-remote-server
        - --rpc-listen-host=0.0.0.0
        - --rpc-listen-port={{ $.Values.jwtHeadless.ports.rpc }}
        - --no-cors
        - --chain-tip-stale-behavior-type=reboot
        - --tx-life-time=10
        - --network-type={{ $.Values.global.networkType }}
        {{- if $.Values.global.headlessAppsettingsPath }}
        - --config={{ $.Values.global.headlessAppsettingsPath }}
        {{- end }}
        {{- with $.Values.jwtHeadless.extraArgs }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
        command:
        - dotnet
        {{- if and $.Values.jwtHeadless.image.repository $.Values.jwtHeadless.image.tag }}
        image: {{ $.Values.jwtHeadless.image.repository }}:{{ $.Values.jwtHeadless.image.tag }}
        {{- else }}
        image: {{ $.Values.global.image.repository }}:{{ $.Values.global.image.tag }}
        {{- end }}
        imagePullPolicy: Always
        name: jwt-headless
        ports:
        - containerPort: {{ $.Values.jwtHeadless.ports.graphql }}
          name: graphql
          protocol: TCP
        - containerPort: {{ $.Values.jwtHeadless.ports.headless }}
          name: headless
          protocol: TCP
        - containerPort: {{ $.Values.jwtHeadless.ports.rpc }}
          name: rpc
          protocol: TCP
        resources:
          {{- toYaml $.Values.jwtHeadless.resources | nindent 10 }}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /data
          name: jwt-headless-data-1
        - mountPath: /bin/liveness_probe.sh
          name: probe-script
          readOnly: true
          subPath: liveness_probe.sh
        - mountPath: /bin/readiness_probe.sh
          name: probe-script
          readOnly: true
          subPath: readiness_probe.sh
        {{- if $.Values.jwtHeadless.loggingEnabled }}
        - mountPath: /app/logs
          name: json-log
        {{- end }}
        - mountPath: /app/appsettings.configmap.json
          name: appsettings
          subPath: appsettings.json
        env:
          {{- if $.Values.jwtHeadless.loggingEnabled }}
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: NAMESPACE_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: JSON_LOG_PATH
            value: ./logs/$(POD_NAME)_$(NAMESPACE_NAME)_jwt-headless.json
          - name: JWT__EnableJwtAuthentication
            value: "true"
          - name: JWT__Key
            valueFrom:
              secretKeyRef:
                key: jwt
                name: private-keys
          {{- end }}
        {{- with $.Values.jwtHeadless.env }}
          {{- toYaml . | nindent 10 }}
        {{- end }}
      {{- with $.Values.jwtHeadless.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $.Values.jwtHeadless.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      terminationGracePeriodSeconds: 30
      volumes:
      - configMap:
          defaultMode: 448
          name: {{ $.Release.Name }}-probe-script
        name: probe-script
      - name: download-snapshot-script
        configMap:
          defaultMode: 0700
          name: {{ $.Release.Name }}-download-snapshot-script
      {{- if $.Values.jwtHeadless.loggingEnabled }}
      - hostPath:
          path: /var/log/headless
          type: DirectoryOrCreate
        name: json-log
      {{- end }}
      - name: appsettings
        configMap:
          defaultMode: 0700
          name: appsettings
  updateStrategy:
    type: RollingUpdate
  volumeClaimTemplates:
  - metadata:
      name: jwt-headless-data-1
    spec:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: {{ $.Values.jwtHeadless.storage.data }}
      storageClassName: {{ $.Release.Name }}-gp3
      volumeMode: Filesystem
{{ end }}
