{{ if .Values.patrolRewardService.enabled }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    app: patrol-reward-service
    app.kubernetes.io/instance: {{ $.Release.Name }}
  name: patrol-reward-service
  namespace: {{ $.Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: patrol-reward-service
  serviceName: patrol-reward-service
  template:
    metadata:
      labels:
        app: patrol-reward-service
    spec:
      containers:
        - args:
            - PatrolRewardService.dll
          command:
            - dotnet
          env:
            - name: ConnectionStrings__PatrolReward
              valueFrom:
                secretKeyRef:
                  key: connection-string
                  name: patrol-reward
            - name: GraphqlClientConfig__Host
              valueFrom:
                secretKeyRef:
                  key: graphql-host
                  name: patrol-reward
            - name: GraphqlClientConfig__Port
              valueFrom:
                secretKeyRef:
                  key: graphql-port
                  name: patrol-reward
            - name: SignerConfig__PrivateKey
              valueFrom:
                secretKeyRef:
                  key: private-key
                  name: patrol-reward
            - name: SignerConfig__GenesisHash
              valueFrom:
                secretKeyRef:
                  key: genesis-hash
                  name: patrol-reward
          {{- with $.Values.patrolRewardService.env }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: {{ $.Values.patrolRewardService.image.repository }}:{{ $.Values.patrolRewardService.image.tag }}
          name: patrol-reward-service
          ports:
            - containerPort: 80
      restartPolicy: Always
      {{- with $.Values.patrolRewardService.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  updateStrategy:
    type: RollingUpdate
{{ end }}
