{{- if $.Values.seasonpass.api.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: seasonpass-api
    app.kubernetes.io/instance: {{ $.Release.Name }}
  name: seasonpass-api
  namespace: {{ $.Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: seasonpass-api
  template:
    metadata:
      labels:
        app: seasonpass-api
    spec:
      containers:
        - name: seasonpass-api
          env:
            - name: API_GQL_URL_MAP
              valueFrom:
                secretKeyRef:
                  key: gql-url-dict
                  name: seasonpass-env
            - name: API_PG_DSN
              valueFrom:
                secretKeyRef:
                  key: db-uri
                  name: seasonpass-env
            - name: API_AMQP_DSN
              valueFrom:
                secretKeyRef:
                  key: rmq-url
                  name: seasonpass-env
            - name: API_HEADLESS_JWT_SECRET
              valueFrom:
                secretKeyRef:
                  key: jwt-token-secret
                  name: seasonpass-env
            - name: API_WORKERS
              valueFrom:
                secretKeyRef:
                  key: api-workers
                  name: seasonpass-env
            - name: API_TIMEOUT_KEEP_ALIVE
              valueFrom:
                secretKeyRef:
                  key: api-timeout-keep-alive
                  name: seasonpass-env
            - name: API_HOST
              value: "0.0.0.0"
          image: {{ $.Values.seasonpass.api.image.repository }}:{{ $.Values.seasonpass.image.tag }}
          name: seasonpass-api
      {{- with $.Values.seasonpass.api.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      restartPolicy: Always
      serviceAccount: {{ $.Release.Name }}-seasonpass-iam-role
      serviceAccountName: {{ $.Release.Name }}-seasonpass-iam-role
{{- end }}
