{{ if .Values.rudolfService.enabled }}
apiVersion: "external-secrets.io/v1beta1"
kind: ExternalSecret
metadata:
  name: rudolf-service
  namespace: {{ $.Release.Name }}
  labels:
    app.kubernetes.io/instance: {{ $.Release.Name }}
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: {{ $.Release.Name }}-secretsmanager
    kind: SecretStore
  target:
    name: rudolf-service
    creationPolicy: Owner
  dataFrom:
  - extract:
      {{- if .Values.externalSecret.prefix }}
      key: {{ .Values.externalSecret.prefix }}{{ .Values.externalSecret.separator }}rudolf-service
      {{- else }}
      key: {{ .Values.clusterName }}{{ .Values.externalSecret.separator }}rudolf-service
      {{- end }}
{{ end }}
