{{ range $idx := until (int .Values.validator.count) }}
{{ $index := add $idx 1 }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    app: validator-{{ $index }}
    app.kubernetes.io/instance: {{ $.Release.Name }}
  name: validator-{{ $index }}
  namespace: {{ $.Release.Name }}
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: validator-{{ $index }}
  serviceName: validator-{{ $index }}
  template:
    metadata:
      labels:
        app: validator-{{ $index }}
      name: validator-{{ $index }}
    spec:
      initContainers:
        - args:
          - 'https://snapshots.nine-chronicles.com/internal'  
          - /data/validator
          - $(RESET_SNAPSHOT_OPTION)
          - validator-{{ $index }}
          - $(SLACK_WEBHOOK_URL)
          command:
          - /bin/download_snapshot.sh
          env:
          - name: RESET_SNAPSHOT_OPTION  
            value: 'true'  
          - name: SLACK_WEBHOOK_URL
            valueFrom:
              secretKeyRef:
                key: slack-webhook-url
                name: slack
          image: 'bash:latest'
          imagePullPolicy: Always
          name: reset-snapshot
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /bin/download_snapshot.sh
            name: script-volume
            readOnly: true
            subPath: download_snapshot.sh
          - mountPath: /data
            name: validator-data-{{ $index }}
      containers:
      - args:
        - NineChronicles.Headless.Executable.dll
        - run
        - --app-protocol-version={{ $.Values.global.appProtocolVersion }}
        - --trusted-app-protocol-version-signer={{ $.Values.global.trustedAppProtocolVersionSigner }}
        - --genesis-block-path={{ $.Values.global.genesisBlockPath }}
        {{- if eq $.Values.global.consensusType "pbft" }}
        - --host={{ index $.Values.validator.hosts $idx }}
        {{- else }}
        {{- range $.Values.global.iceServers }}
        - --ice-server={{ . }}
        {{- end }}
        {{- end }}
        - --port={{ $.Values.validator.ports.headless }}
        - --store-path=/data/validator
        - --store-type=rocksdb
        {{- range $.Values.global.peerStrings }}
        - --peer={{ . }}
        {{- end }}
        - --graphql-server
        - --graphql-host=0.0.0.0
        - --graphql-port={{ $.Values.validator.ports.graphql }}
        {{- if eq $.Values.global.consensusType "pbft" }}
        - --swarm-private-key
        - $(PRIVATE_KEY)
        - --miner-private-key
        - $(PRIVATE_KEY)
        - --consensus-private-key
        - $(PRIVATE_KEY)
        - --consensus-port={{ $.Values.validator.ports.gossip }}
        {{- range $.Values.validator.consensusSeedStrings }}
        - --consensus-seed={{ . }}
        {{- end }}
        {{- end }}
        {{- with $.Values.validator.extraArgs }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
        - --network-type={{ $.Values.global.networkType }}
        - --tx-life-time=10
        command:
          - dotnet
        env:
          - name: PRIVATE_KEY
            valueFrom:
              secretKeyRef:
                key: validator-private-key-{{ $index }}
                name: private-keys
          {{- if $.Values.validator.loggingEnabled }}
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: NAMESPACE_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: JSON_LOG_PATH
            value: ./logs/$(POD_NAME)_$(NAMESPACE_NAME)_validator-{{ $index }}.json
          {{- end }}
          {{- with $.Values.validator.env }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
        {{- if and $.Values.validator.image.repository $.Values.validator.image.tag }}
        image: {{ $.Values.validator.image.repository }}:{{ $.Values.validator.image.tag }}
        {{- else }}
        image: {{ $.Values.global.image.repository }}:{{ $.Values.global.image.tag }}
        {{- end }}
        imagePullPolicy: Always
        name: validator-{{ $index }}
        ports:
        - containerPort: {{ $.Values.validator.ports.headless }}
          name: headless
          protocol: TCP
        - containerPort: {{ $.Values.validator.ports.graphql }}
          name: graphql
          protocol: TCP
        - containerPort: {{ $.Values.validator.ports.gossip }}
          name: gossip
          protocol: TCP
        resources:
          {{- toYaml $.Values.validator.resources | nindent 10 }}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /data
          name: validator-data-{{ $index }}
        - mountPath: /bin/liveness_probe.sh
          name: probe-script
          readOnly: true
          subPath: liveness_probe.sh
        - mountPath: /bin/readiness_probe.sh
          name: probe-script
          readOnly: true
          subPath: readiness_probe.sh
        {{- if $.Values.validator.loggingEnabled }}
        - mountPath: /app/logs
          name: json-log
        {{- end }}
      {{- with $.Values.validator.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      dnsPolicy: ClusterFirst
      volumes:
      - configMap:
          defaultMode: 448
          name: {{ $.Release.Name }}-probe-script
        name: probe-script
      - name: download-snapshot-script
        configMap:
          defaultMode: 0700
          name: {{ $.Release.Name }}-download-snapshot-script
      {{- if $.Values.validator.loggingEnabled }}
      - hostPath:
          path: /var/log/headless
          type: DirectoryOrCreate
        name: json-log
      {{- end }}
      imagePullSecrets:
      - name: acr-regcred
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
  updateStrategy:
    type: RollingUpdate
  volumeClaimTemplates:
  - metadata:
      name: validator-data-{{ $index }}
    spec:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: {{ $.Values.validator.storage.data }}
      storageClassName: {{ $.Release.Name }}-gp2
      volumeMode: Filesystem
---
{{ end }}
