externalSecret:
  enabled: true
  prefix: "mothership-devnet"

env:
  L1_RPC: https://ethereum-holesky-rpc.publicnode.com
  L1_BEACON_RPC: https://ethereum-holesky-beacon-api.publicnode.com

storageClassName: gp3-extensible
awsLoadBalancerSslCert: arn:aws:acm:us-east-2:319679068466:certificate/dbb84b9a-cb2b-407c-924a-70b3ca29e880

genesis:
  source: https://mothership-devnet-holesky-genesis.s3.us-east-2.amazonaws.com
  createSnapshot: true
  s3SnapshotPath: mothership-devnet-holesky-genesis/snapshot

blockscout:
  enabled: true
  loadBalancerExternal: true
  db:
    local: false
    secretKeyRef:
      name: private-keys
      key: BLOCKSCOUT_DATABASE_URL

sequencer:
  enabled: true
  nodeIndex: "1"
  scheme: "http"
  host: "node-1"
  port:
    geth: 8545
    node: 8547

node:
  count: 2
  loadBalancerExternal: true
  hosts:
    - node-1.us-east-2.holesky.tests.mothership-pla.net
    - node-2.us-east-2.holesky.tests.mothership-pla.net
  opGeth:
    resources:
      requests:
        memory: 4Gi
  nodeSelector:
    eks.amazonaws.com/nodegroup: mothership-r7a_l_2c

opBatcher:
  nodeSelector:
    eks.amazonaws.com/nodegroup: mothership-r7a_l_2c

opProposer:
  nodeSelector:
    eks.amazonaws.com/nodegroup: mothership-r7a_l_2c

bundler:
  enabled: true
  loadBalancerExternal: true

proxyd:
  enabled: true
  loadBalancerExternal: true
  nodeSelector:
    eks.amazonaws.com/nodegroup: mothership-r7a_l_2c
