clusterName: 9c-internal-v2
logLevel: debug
appProtocolVersion: 1161/54684Ac4ee5B933e72144C4968BEa26056880d71/MEUCIQC79UgVsWGRq44rJv2UJqyviTWXELHlvNCkPTXBaLsk5gIgDDTF5Du.QyRel4TO+FoLmTm8JNZD2jMrpsNTchKGu0g=/ZHU4OmxhdW5jaGVydTQyOjEvMDZmZmYwZGVlM2Q4NGIwNzhkMjNlZDgxZGRjODgxOWM4ZGU1ZmY5MHU2OnBsYXllcnU0MjoxLzEwZWY1MWRkYzMyMzA4OTcwMDlmMTNhNWY4ZGU2ODczMDc0OTM5MjZ1OTp0aW1lc3RhbXB1MTA6MjAyMy0wNC0wMWU=
genesisBlockPath: https://release.nine-chronicles.com/genesis-block-9c-main
trustedAppProtocolVersionSigner: 02529a61b9002ba8f21c858224234af971e962cac9bd7e6b365e71e125c6463478
peerStrings:
- 033369e95dbfd970dd9a7b4df31dcf5004d7cfd63289d26cc42bbdd01e25675b6f,9c-internal-tcp.planetarium.dev,31234
iceServers:
- turn://0ed3e48007413e7c2e638f13ddd75ad272c6c507e081bd76a75e4b7adc86c9af:0apejou+ycZFfwtREeXFKdfLj2gCclKzz5ZJ49Cmy6I=@turn-us.planetarium.dev:3478
networkType: Internal
consensusType: pbft
useExternalSecret: true
slackToken: ''
slackWebHookUrl: ''
snapshot:
  resetSnapshot: true
  slackChannel: 9c-internal
  image: planetariumhq/ninechronicles-snapshot:git-f95397d980d5e761c259af5d2bc49d40805b4bc7
  cfDistributionId: ''
  aws_access_key_id: ''
  aws_secret_access_key: ''
volumeReclaimPolicy: Retain
validator:
  count: 4
  image:
    repository: planetariumhq/ninechronicles-headless
    pullPolicy: IfNotPresent
    tag: git-2c131ca94677337b2b16e5e58ba5180127c7d445
  consensusSeedStrings:
  - 033369e95dbfd970dd9a7b4df31dcf5004d7cfd63289d26cc42bbdd01e25675b6f,tcp-seed-1,31235
  hosts:
  - "9c-internal-validator-1.nine-chronicles.com"
  - "9c-internal-validator-2.nine-chronicles.com"
  - "9c-internal-validator-3.nine-chronicles.com"
  - "9c-internal-validator-4.nine-chronicles.com"
  ports:
    headless: 31234
    graphql: 80
    gossip: 6000
  extraArgs: []
  privateKeys: []
  storage:
    data: 500Gi
  env: []
  resources:
    requests:
      cpu: 2
      memory: 8Gi
  nodeSelector: {}
  tolerations: []
  affinity: {}
seed:
  count: 1
  useTurnServer: false
  image:
    repository: planetariumhq/libplanet-seed
    pullPolicy: IfNotPresent
    tag: git-c984fa6e98016527e95fe9b50c39a2bf247bcfb6
  hosts:
  - "9c-internal-tcp.planetarium.dev"
  ports:
    node: 31234
    gossip: 31235
    graphql: 31237
  workerCount: 1000
  extraArgs: []
  privateKeys: []
  env: []
  resources:
    requests:
      cpu: 1
  nodeSelector: {}
  tolerations: []
  affinity: {}
miner:
  count: 1
  useTurnServer: true
  image:
    repository: planetariumhq/ninechronicles-headless
    pullPolicy: IfNotPresent
    tag: git-2c131ca94677337b2b16e5e58ba5180127c7d445
  hosts: []
  ports:
    headless: 31234
    graphql: 80
  extraArgs: []
  privateKeys: []
  storage:
    data: 500Gi
  env: []
  resources:
    requests:
      cpu: 2
      memory: 8Gi
  nodeSelector: {}
  tolerations: []
  affinity: {}
remoteHeadless:
  count: 2
  image:
    repository: planetariumhq/ninechronicles-headless
    pullPolicy: IfNotPresent
    tag: git-2c131ca94677337b2b16e5e58ba5180127c7d445
  extraArgs: []
  useTurnServer: true
  hosts: []
  ports:
    headless: 31234
    graphql: 80
    rpc: 31238
  storage:
    data: 500Gi
  resources:
    requests:
      cpu: 2
      memory: 8Gi
  nodeSelector:
    beta.kubernetes.io/os: linux
  tolerations: []
  affinity: {}
dataProvider:
  enabled: true
  render: true
  storage:
    data: 1000Gi
    log: 4Gi
  image:
    repository: planetariumhq/ninechronicles-dataprovider
    pullPolicy: IfNotPresent
    tag: git-6bdd28ccbaad047148fd95db41081e5767cf1ca4
  db:
    storage: 1000Gi
    database: ''
    connectionString: ''
    host: ''
    port: 3306
    user: user
    password: ''
explorer:
  image:
    repository: planetariumhq/ninechronicles-headless
    pullPolicy: IfNotPresent
    tag: git-2c131ca94677337b2b16e5e58ba5180127c7d445
  extraArgs: []
  useTurnServer: true
  hosts: []
  ports:
    headless: 31234
    graphql: 80
  storage:
    data: 500Gi
    log: 4Gi
  resources:
    requests:
      cpu: 2
      memory: 8Gi
  nodeSelector:
    beta.kubernetes.io/os: linux
  tolerations: []
  affinity: {}
marketService:
  enabled: true
  image:
    repository: planetariumhq/market-service
    pullPolicy: Always
    tag: git-09b4f6633432f8f5d63721861ada0a19e7fd3fbc
  db:
    size: 1Gi
