global:
  service:
    annotations: {}

externalSecret:
  enabled: false
  prefix: ""
  separator: /
  provider: ""

gateway:
  enabled: false
  trustedIPs:
  - 10.0.0.0/8
  - 172.0.0.0/8
  ports:
    grpc:
      kind: GRPCRoute
      port: 31238
      transport:
        respondingTimeouts:
          readTimeout: 0

seasonpass:
  image:
    tag: "git-e5a245c9d6c19ac7572c7f74b6a26ceadec94c9b"

  api:
    enabled: false
    image:
      repository: planetariumhq/season-pass-api
      pullPolicy: Always
    nodeSelector: {}
    env:
      region: ""
      gqlUrl: ""
      currentPlanet: ""
      dbUri: ""
      sqsUrl: ""
      arenaServiceJwtPublicKey: ""
    serviceAccount:
      roleArn: ""

  worker:
    enabled: false
    image:
      repository: planetariumhq/season-pass-worker
      pullPolicy: Always

    nodeSelector: {}
    env:
      region: ""
      gqlUrl: ""
      currentPlanet: ""
      dbUri: ""
      sqsUrl: ""
      arenaServiceJwtPublicKey: ""
    serviceAccount:
      roleArn: ""
    flower:
      enabled: false

  tracker:
    enabled: false
    image:
      repository: planetariumhq/season-pass-tracker
      pullPolicy: Always

    nodeSelector: {}
    env:
      region: ""
      gqlUrl: ""
      currentPlanet: ""
      dbUri: ""
      sqsUrl: ""
      arenaServiceJwtPublicKey: ""
    serviceAccount:
      roleArn: ""

iap:
  backoffice:
    enabled: false
    image:
      repository: planetariumhq/ninechronicles-iap
      pullPolicy: Always
    nodeSelector: {}
    env:
      region: ""
      gqlUrl: ""
      currentPlanet: ""
      dbUri: ""
      sqsUrl: ""
      arenaServiceJwtPublicKey: ""
    serviceAccount:
      roleArn: ""

backoffice:
  enabled: false
  image:
    repository: planetariumhq/nine-chronicles-backoffice
    tag: latest
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi
  nodeSelector: {}
  env:
    aspnetcoreEnvironment: "Development"
    cloudflareAccessKeyId: ""
    cloudflareSecretAccessKey: ""
    cloudflareApiToken: ""
    cloudflareEmail: ""
    cloudflareZoneId: ""
    cloudflareBucketName: ""
    cloudflareAccountId: ""
    privateKey: "0000000000000000000000000000000000000000000000000000000000000000"
    jwtKey: "0000000000000000000000000000000000000000000000000000000000000000"
    jwtIssuer: ""
    cdnUrl: ""
    blockHashOdin: "0000000000000000000000000000000000000000000000000000000000000000"
    blockHashHeimdall: "0000000000000000000000000000000000000000000000000000000000000000"
    blockHashThor: "0000000000000000000000000000000000000000000000000000000000000000"
    googleClientId: ""
    googleClientSecret: ""
    internalOdinId: ""
    internalOdinUrl: ""
    internalHeimdallId: ""
    internalHeimdallUrl: ""
    internalThorId: ""
    internalThorUrl: ""
    mainOdinId: ""
    mainOdinUrl: ""
    mainHeimdallId: ""
    mainHeimdallUrl: ""
    mainThorId: ""
    mainThorUrl: ""
