global:
  service:
    annotations: {}

externalSecret:
  enabled: false
  prefix: ""
  separator: /
  provider: ""

gateway:
  enabled: false
  trustedIPs:
  - 10.0.0.0/8
  - 172.0.0.0/8
  ports:
    grpc:
      kind: GRPCRoute
      port: 31238
      transport:
        respondingTimeouts:
          readTimeout: 0

seasonpass:
  image:
    tag: "git-e5a245c9d6c19ac7572c7f74b6a26ceadec94c9b"

  api:
    enabled: false
    image:
      repository: planetariumhq/season-pass-api
      pullPolicy: Always
    nodeSelector: {}
    env:
      region: ""
      gqlUrl: ""
      currentPlanet: ""
      dbUri: ""
      sqsUrl: ""
      arenaServiceJwtPublicKey: ""
    serviceAccount:
      roleArn: ""

  worker:
    enabled: false
    image:
      repository: planetariumhq/season-pass-worker
      pullPolicy: Always

    nodeSelector: {}
    env:
      region: ""
      gqlUrl: ""
      currentPlanet: ""
      dbUri: ""
      sqsUrl: ""
      arenaServiceJwtPublicKey: ""
    serviceAccount:
      roleArn: ""

  tracker:
    enabled: false
    image:
      repository: planetariumhq/season-pass-tracker
      pullPolicy: Always

    nodeSelector: {}
    env:
      region: ""
      gqlUrl: ""
      currentPlanet: ""
      dbUri: ""
      sqsUrl: ""
      arenaServiceJwtPublicKey: ""
    serviceAccount:
      roleArn: ""