apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: psql
    app.kubernetes.io/instance: common-dbs
  name: psql-deployment
  namespace: common-dbs
spec:
  replicas: 1
  selector:
    matchLabels:
      app: psql
  template:
    metadata:
      labels:
        app: psql
    spec:
      containers:
        - name: psql
          image: postgres:15
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              value: "root"
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: POSTGRES_PASSWORD
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: psql-data
      volumes:
        - name: psql-data
          emptyDir: {}
