clusterName: 9c-internal
provider: RKE2

externalSecret:
  enabled: true
  provider: AWS
  prefix: "9c-internal-v2/external-services"

gateway:
  enabled: false
  services:
  - name: seasonpass-api-service
    hostnames:
    - seasonpass-internal-rke2.9c.gg

volumeReclaimPolicy: "Retain"

seasonpass:
  enabled: true
  image:
    tag: "git-7a0f63a65b0888e9c61c9dca4de391a8dda80626"

  api:
    enabled: true

  worker:
    enabled: true
    serviceAccount:
      roleArn: "arn:aws:iam::319679068466:role/9c-internal-v2-seasonpass-worker"
    flower:
      enabled: true

  tracker:
    enabled: true
