apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: 9c-claim-items-test
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/planetarium/9c-infra.git
    targetRevision: main
    path: charts/all-in-one
    helm:
      valueFiles:
        - ../../9c-internal/9c-claim-items-test/values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: 9c-claim-items-test
