{{- if (and .Values.server.enabled (or .Values.server.hostname .Values.server.hostnames)) }}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: ragnarok-breaker
  namespace: {{ .Release.Namespace }}
spec:
  parentRefs:
    - name: traefik-gateway
      namespace: traefik
      sectionName: web
    - name: traefik-gateway
      namespace: traefik
      sectionName: websecure
  hostnames:
    {{- with (.Values.server.hostnames | default (list .Values.server.hostname)) }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: ragnarok-breaker
          port: 80
{{- end }}
---
{{- if (and .Values.backoffice.enabled (or .Values.backoffice.hostname .Values.backoffice.hostnames)) }}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: ragnarok-breaker-backoffice
  namespace: {{ .Release.Namespace }}
spec:
  parentRefs:
    - name: traefik-gateway
      namespace: traefik
      sectionName: web
    - name: traefik-gateway
      namespace: traefik
      sectionName: websecure
  hostnames:
    {{- with (.Values.backoffice.hostnames | default (list .Values.backoffice.hostname)) }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: ragnarok-breaker-backoffice
          port: 80
{{- end }}
---
