apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: arena-service-test-20241218
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/planetarium/9c-infra.git
    targetRevision: main
    path: 9c-dev/arena-service-test-20241218
  destination:
    server: https://kubernetes.default.svc
    namespace: arena-service-test-20241218
