apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: arena-service
    app.kubernetes.io/instance: arena-service-test-20241218
  name: arena-service-deployment
  namespace: arena-service-test-20241218
spec:
  replicas: 1
  selector:
    matchLabels:
      app: arena-service
  template:
    metadata:
      labels:
        app: arena-service
    spec:
      containers:
        - name: arena-service
          image: planetariumhq/arena-service:git-69a51ce5005f0e2570ab6d691ef5be2cbe1b131a
          ports:
            - containerPort: 8080
          env:
            - name: ConnectionStrings__DefaultConnection
              valueFrom:
                secretKeyRef:
                  name: arena-service-secret
                  key: POSTGRES_CONNECTION_STRING
            - name: Redis__Host
              value: redis-service